USE [dbbtCARSAp1]
GO
/****** Object:  Table [dbo].[StudentDetails]    Script Date: 1/29/2016 3:59:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentDetails](
	[RollNo] [nchar](10) NULL,
	[Name] [nvarchar](50) NULL,
	[Department] [nvarchar](50) NULL,
	[Section] [nvarchar](50) NULL
) ON [PRIMARY]

GO
